{{#isWebSocket}}
    <dl class="dl-horizontal pull-left">
        <dt title="Map sync method">{{#translate}}Connected{{/translate}}</dt>
        <dd><i class="fas fa-random"></i> {{#translate}}WebSocket{{/translate}} <span class="txt-color txt-color-grayLight">{{#translate}}(persistent){{/translate}}</span></dd>
        <dt>Status</dt>
        <dd class="txt-color {{syncStatus.webSocket.class}}">{{syncStatus.webSocket.status}}</dd>
        <dt>Active</dt>
        <dd class="{{timestampCounterClass}}" title="Last data push received">{{syncStatus.webSocket.timestamp}}</dd>
    </dl>

    <dl class="dl-horizontal pull-left">
        <dt></dt>
        <dd><i class="fas fa-project-diagram"></i> {{#translate}}SharedWorker{{/translate}}</dd>
        <dt></dt>
        <dd class="txt-color {{syncStatus.sharedWorker.class}}">{{syncStatus.sharedWorker.status}}</dd>
        <dt></dt>
        <dd>&nbsp;</dd>
    </dl>
{{/isWebSocket}}

{{#isAjax}}
    <dl class="dl-horizontal pull-left">
        <dt title="Map sync method">Type</dt>
        <dd><i class="fas fa-retweet"></i> {{#translate}}Ajax{{/translate}} <span class="txt-color txt-color-grayLight">{{#translate}}(long polling){{/translate}}</span></dd>
        <dt>{{#translate}}Status{{/translate}}</dt>
        <dd class="txt-color {{syncStatus.ajax.class}}">{{syncStatus.ajax.status}}</dd>
        <dt>{{#translate}}Last sync{{/translate}}</dt>
        <dd class="{{timestampCounterClass}}" title="Last map sync">{{syncStatus.ajax.timestamp}}</dd>
    </dl>
{{/isAjax}}

