<div id="{{id}}">

    {{! Status (updated by trigger ------------------------------------------------------------- }}
    <h4>
        <i class="fas fa-fw fa-lg fa-sync"></i> {{#translate}}Map sync{{/translate}}
    </h4>

    <div class="{{dialogDynamicAreaClass}} {{taskDialogStatusAreaClass}}">

    </div>

    {{! Task graphs ---------------------------------------------------------------------------- }}
    <div class="row"></div>

    {{! Task table ----------------------------------------------------------------------------- }}
    <h4>
        <i class="fas fa-fw fa-lg fa-microchip"></i> {{#translate}}Processes{{/translate}}
    </h4>

    <div class="{{dialogDynamicAreaClass}} {{taskDialogLogTableAreaClass}}">

    </div>
</div>